:root {
    --color-secondary: #1e202e;
    --color-secondary-light: #242633;
    --drag-over-color: #2a2d41;
    --color-input-background:rgb(54, 55, 73);
    --font-color: #bfc2ca;
    --color-primary: #0ae7a5;
    --color-accent: #e7d80a;
    --border-color: rgb(32, 41, 61);
    --popup-background: rgba(54, 55, 73, 0.411);
    --smooth-shadow: 0 10px 16px rgba(11, 13, 19, 0);
}