:root {
    --color-secondary: #1e202e;
    --color-secondary-light: #242633;
    --color-input-background:rgb(54, 55, 73);
    --font-color: #bfc2ca;
    --color-primary: #006eff;
    --border-color: rgb(32, 41, 61);

    --smooth-shadow: 0 10px 16px rgba(11, 13, 19, 0);
}