body {
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 400px;
    line-height: 1.5em;
    // font-family: 'Poppins', sans-serif;
    // font-family: "Noto Sans", sans-serif;
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    h1,
    h2,
    h3,
    h4,
    h5,
    span,
    p,
    pre,
    label {
      padding: 0;
      margin: 0;
      font-weight: 400;
      color: var(--font-color);
      font-family: "Inter", sans-serif;
    }
  
    a {
      text-decoration: none;
      outline: none;
      &:focus {
        outline: none;
      }
    }
  }